[submodule "scenegen"]
	path = scenegen
	url = git@github.com:home-assistant/scenegen.git
[submodule "config/themes/lovelace-ios-dark-mode-theme"]
	path = config/themes/lovelace-ios-dark-mode-theme
	url = https://github.com/basnijholt/lovelace-ios-dark-mode-theme.git
