[submodule "devices/espurna-based/espurna"]
	path = devices/espurna-based/espurna
	url = git@github.com:xoseperez/espurna.git
[submodule "scenegen"]
	path = scenegen
	url = git@github.com:home-assistant/scenegen.git
