[Unit]
Description=Camera Raspi streaming
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/bin/sh -c 'cvlc --v4l2-width 640 --v4l2-height 480 --v4l2-chroma MJPG --http-host=192.168.1.19 --http-port=8080 v4l2:///dev/video0 --sout "#transcode{vcodec=MJPG,vb=5000,scale=1,acodec=none}:standard{access=http,mux=mpjpeg}"' >  /home/pi/logs/camera-stream.log 2>&1
Restart=always
User=pi
Group=video
 
[Install]
WantedBy=multi-user.target